:root {
/* 
Color scheme definitions
Usage:
   var(--publish-box-bg-color); 
*/


  --ig-status-text-color: #1e0a37; /* 1. IG Title and status text color */
  --navbar-bg-color: #2e1a47; /* 2. Header container color */
  --footer-bg-color: #706e72; /* 3. Footer background color*/
  --footer-container-color: #2e1a47; /* 4. Footer container color */
  --stripe-bg-color: #796989; /* 5. Header strip color */

  --btn-hover-color: #2070b0;  /* 6. Menu button hover color */
  --btn-active-color: #4090d0; /* 7. Menu button active color */

  --btn-text-color: #fdfdf0; /* 8. Menu button text color */
  --btn-gradient-start-color: #3377aa; /* 9. Menu item gradient start color */
  --btn-gradient-end-color: #206699; /* 10. Menu item gradient end  color */
  --btn-gradient-start-color-alpha: #ff3377aa; /* 11. Menu item gradient start color (with alpha) */
  --btn-gradient-end-color-alpha: #ff206699; /* 12. Menu item gradient end color (with alpha) */
  --link-color: #205080; /* 13. Hyperlink text color */
  --link-hover-color: #103090; /* 14. Hyperlink text hover color */

  --publish-box-bg-color: #bbbbdd; /* 15. Publish box background color */
  --publish-box-border: 1px solid #8080a0; /* 16.  Publish box border definition */

  --toc-box-bg-color: #ddeeff; /* 17.  TOC box background color */
  --toc-box-border: 1px solid #8080a0; /* 18. TOC box border definition */
  
  --stu-note-background-color: #ffccbb; /* 19. (STU) Note box background color */
  --stu-note-border-left-color: #ff6020; /* 20. (STU) Note box border color */

  --ig-header-color: #f5f5f5; /* 21. Header color (sides) */
  --ig-header-container-color: #e7e6e7; /* 22. Header container color (center) */

}

// this can be removed when base template is updated
/*
#segment-header {
    background-color: var(--ig-header-color);
}

#segment-header > .container {
    background-color: var(--ig-header-container-color);
}

#ig-status {
    margin-top: 21px;
}

#family-nav {
    margin-right: 3px;
}
*/